body {
    font-family: -apple-system, BlinkMacSystemFont, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 40px 15px;
    text-align: center;
}
h1 {
    font-weight: 400;
}
p {
    font-weight: 300;
}
b {
    font-weight: 500;
}